footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-md-row
            .col-md-4.text-center.text-md-start.mb-3.mb-md-0
                .fw-bold.text-white © 2025 ПрАТ "КЦКБА"
                br
                span.text-white-50 Всі права захищені.
            .col-md-4.text-center.text-md-end
                ul.list-inline.mb-2
                    li.list-inline-item
                        a.link-light.small(href='mailto:office@kcdbv.com')
                            i.bi.bi-envelope.me-1
                            | office@kcdbv.com
                    li.list-inline-item
                        a.link-light.small(href='tel:+380504479799')
                            i.bi.bi-telephone.me-1
                            | +38(050)-447-97-99
                a.link-light.small(href='#') Політика конфіденційності
                span.text-white.mx-1 &middot;
                a.link-light.small(href='#') Умови використання