doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Bogdan Veremienko')
        title Історія
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='icon', type='image/png', href='assets/logo.jpg')
        include includes/css.pug
    body.d-flex.flex-column.h-100
        main.flex-shrink-0
            include includes/navbar.pug
            // Page content
            section.py-5
                .container.px-5
                    h1.fw-bolder.fs-3.mb-4 Історія
                    .timeline-vertical
                        // 1964
                        .timeline-event
                            .timeline-year
                                .year-circle 1964
                                span.timeline-icon
                                    i.bi.bi-flag
                            .timeline-content
                                .fw-bold.mb-1 Створення
                                .text-secondary.small.mb-2 14 травня 1964 року
                                div Постановою ЦК КПРС Ради Міністрів СРСР № 461 (м. Київ) на базі Київського арматурно-ізоляторного заводу було створено Український філіал ЦКБА.
                        // 60-ті роки
                        .timeline-event.right
                            .timeline-year
                                .year-circle 60-ті
                                span.timeline-icon
                                    i.bi.bi-tools
                            .timeline-content
                                .fw-bold.mb-1 Перші конструкції
                                .text-secondary.small.mb-2 60-ті роки
                                div Були створені перші оригінальні конструкції арматури для Нововоронезької АЕС, які добре зарекомендували себе вже на експлуатації АЕС. Конструкції впроваджені на АЕС у НДР, Китаї, Індії, експлуатуються на підприємствах нафтохімічного комплексу для різних середовищ і температур, включаючи агресивні.
                        // 1970
                        .timeline-event
                            .timeline-year
                                .year-circle 1970
                                span.timeline-icon
                                    i.bi.bi-arrows-angle-expand
                            .timeline-content
                                .fw-bold.mb-1 Розширення
                                .text-secondary.small.mb-2 1970
                                div На базі КМЗ і УФ ЦКБА було створено НВО «Київприладпром». До складу УФ ЦКБА ввійшли СКБ заводу, відділ і лабораторії.
                        // 1976
                        .timeline-event.right
                            .timeline-year
                                .year-circle 1976
                                span.timeline-icon
                                    i.bi.bi-award
                            .timeline-content
                                .fw-bold.mb-1 Державне завдання
                                .text-secondary.small.mb-2 1976
                                div УФ ЦКБА отримав урядове завдання розробити арматуру для АЕС з новим потужним реактором РБМК-1000, потім розроблялись ряд імпульсно-запобіжних пристроїв.
                        // 80-ті роки
                        .timeline-event
                            .timeline-year
                                .year-circle 80-ті
                                span.timeline-icon
                                    i.bi.bi-rocket
                            .timeline-content
                                .fw-bold.mb-1 Космічний напрямок
                                .text-secondary.small.mb-2 80-ті роки
                                div Були створені комплекси малогабаритних печей (реакторів), які успішно експлуатувалися в різних космічних орбітальних станціях «Салют» і «Мир», кораблях «Союз», «Прогрес», автоматичних міжпланетних станціях «Венера», «Фобос», «Астрон» та інших космічних апаратах.
                        // 90-ті роки
                        .timeline-event.right
                            .timeline-year
                                .year-circle 90-ті
                                span.timeline-icon
                                    i.bi.bi-graph-up-arrow
                            .timeline-content
                                .fw-bold.mb-1 Подолання кризи
                                .text-secondary.small.mb-2 90-ті роки
                                div ДП «КЦКБА» вдалося вийти з глибокої кризи і відновити виробництво. Було налагоджено постачання арматури для будівництва першої і другої черги Тяньваньської АЕС (Китай), після чого поступово поліпшилися фінансово-економічні показники компанії.
                        // 2000-ні роки
                        .timeline-event
                            .timeline-year
                                .year-circle 2000-ні
                                span.timeline-icon
                                    i.bi.bi-arrow-repeat
                            .timeline-content
                                .fw-bold.mb-1 Реорганізація
                                .text-secondary.small.mb-2 На початку 2000 років
                                div ДП «КЦКБА» було реорганізовано в закрите акціонерне товариство.
                        // 2006
                        .timeline-event.right
                            .timeline-year
                                .year-circle 2006
                                span.timeline-icon
                                    i.bi.bi-people
                            .timeline-content
                                .fw-bold.mb-1 Об'єднання
                                .text-secondary.small.mb-2 2006
                                div Відбулося об'єднання ЗАТ «КЦКБА / ЗАТ «Арма», що дозволило розширити виробничу базу, отримати нові ринки і перспективи створення освоєння нової продукції.
                        // 2009
                        .timeline-event
                            .timeline-year
                                .year-circle 2009
                                span.timeline-icon
                                    i.bi.bi-globe2
                            .timeline-content
                                .fw-bold.mb-1 TACIS U2.01/05.
                                .text-secondary.small.mb-2 2009
                                div Проєкт «КЦКБА» в складі Консорціуму, у який також входять: фірма TECHNATOM S.A. (Франція), ТОВ НПП «Імпульс» (Україна), брав участь у виконанні проєкту Євроспільноти Комісії TACIS U2.01 / 05.
                        // 2014
                        .timeline-event.right
                            .timeline-year
                                .year-circle 2014
                                span.timeline-icon
                                    i.bi.bi-cpu
                            .timeline-content
                                .fw-bold.mb-1 Технічне переозброєння
                                .text-secondary.small.mb-2 До 2014 року
                                div Був завершений перший етап технічного переоснащення ПАТ «КЦКБА».
                        // 2015
                        .timeline-event
                            .timeline-year
                                .year-circle 2015
                                span.timeline-icon
                                    i.bi.bi-trophy
                            .timeline-content
                                .fw-bold.mb-1 Експортер року
                                .text-secondary.small.mb-2 2015
                                div Підприємство було нагороджено як провідний експортер року за результатами фінансово-господарської діяльності підприємства за 2014 рік.
        include includes/footer.pug
        include includes/scripts.pug 