doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Bogdan Veremienko')
        title Онлайн-екскурсія
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='icon', type='image/png', href='assets/logo.png')
        include includes/css.pug
    body.d-flex.flex-column.h-100
        main.flex-shrink-0
            include includes/navbar.pug
            // Page content
            section.py-5
                .container.px-5
                    h1.fw-bolder.fs-3.mb-4 Онлайн-екскурсія
                    p Content for Онлайн-екскурсія page.
        include includes/footer.pug
        include includes/scripts.pug 