doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Bogdan Veremienko')

        title КЦКБА - Космічні технології в арматуробудуванні

        // Favicon
        link(rel='icon', type='image/png', href='assets/logo.jpg')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Введение
            section.py-5.bg-white
                .container.px-5.my-5
                    h2.fw-bold.mb-3 Від ідеї до готового продукту!
                    p Київське центральне конструкторське бюро арматуробудування - інжинірингово-виробнича машинобудівна компанія, яка розробляє і виготовляє продукцію для об'єктів атомної і теплової енергетики, хімічної промисловості, нафтогазового комплексу та авіакосмічного напряму.
                    p Наявність сучасного виробництва і власної випробувальної бази дозволяє в найкоротші терміни здійснювати повний цикл робіт: отримання ТЗ – проєктування – виготовлення – випробування – поставка замовнику – сервісне обслуговування і ремонт продукції.

            // Основні напрями
            section.py-5.bg-light
                .container.px-5.my-5
                    h2.fw-bold.text-center.mb-5 Основні напрями
                    .row.align-items-center
                        .col-lg-6.mb-4.mb-lg-0
                            h5.fw-bold Основними напрямами діяльності підприємства є:
                            ul
                                li
                                    b Арматура для АЕС и ТЕС
                                    br
                                    | Розробка і виробництво трубопровідної арматури необхідної для систем забезпечення безпеки АЕС і ТЕС.
                                li
                                    b Агрегати для космосу та авіації
                                    br
                                    | Розробка і виробництво малогабаритних пневмогідроагрегатів для різних систем космічної та авіаційної техніки.
                                li
                                    b Загальнопромислова арматура
                                    br
                                    | Розробка і виробництво трубопровідної арматури для підприємств нафтової, газової та хімічної промисловості, систем магістрального і місцевого водопостачання, вентиляційних систем.
                                li
                                    b Технічний контроль
                                    br
                                    | Проведення технічного контролю, діагностики та кваліфікаційних випробувань обладнання для АЕС та інших відповідальних об'єктів на базі діагностичного обладнання і спеціальних випробувальних стендів.
                        .col-lg-6
                            // Слайдер с реальными фото
                            #mainDirectionsCarousel.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100.rounded(src='assets/waymain1.jpg', alt='Фото 1')
                                    .carousel-item
                                        img.d-block.w-100.rounded(src='assets/waymain2.jpg', alt='Фото 2')
                                    .carousel-item
                                        img.d-block.w-100.rounded(src='assets/waymain3.jpg', alt='Фото 3')
                                    .carousel-item
                                        img.d-block.w-100.rounded(src='assets/waymain4.jpg', alt='Фото 4')
                                    .carousel-item
                                        img.d-block.w-100.rounded(src='assets/waymain5.jpg', alt='Фото 5')
                                button.carousel-control-prev(type='button', data-bs-target='#mainDirectionsCarousel', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button', data-bs-target='#mainDirectionsCarousel', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

            // Наші замовники
            section.py-5.bg-white
                .container.px-5.my-5
                    h2.fw-bold.text-center.mb-5 Наші замовники
                    .row.row-cols-2.row-cols-sm-3.row-cols-md-4.row-cols-lg-6.g-4.justify-content-center
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (1).png', alt='Customer Logo 1')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (2).png', alt='Customer Logo 2')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (3).png', alt='Customer Logo 3')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (4).png', alt='Customer Logo 4')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (5).png', alt='Customer Logo 5')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (6).png', alt='Customer Logo 6')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (7).png', alt='Customer Logo 7')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (8).png', alt='Customer Logo 8')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (9).png', alt='Customer Logo 9')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (10).png', alt='Customer Logo 10')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (11).png', alt='Customer Logo 11')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (12).png', alt='Customer Logo 12')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (13).png', alt='Customer Logo 13')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (14).png', alt='Customer Logo 14')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (15).png', alt='Customer Logo 15')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (16).png', alt='Customer Logo 16')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (17).png', alt='Customer Logo 17')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (18).png', alt='Customer Logo 18')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (19).png', alt='Customer Logo 19')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (20).png', alt='Customer Logo 20')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (21).png', alt='Customer Logo 21')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (22).png', alt='Customer Logo 22')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (23).png', alt='Customer Logo 23')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (2).jpg', alt='Customer Logo 24')
                        .col.d-flex.align-items-center.justify-content-center
                            img.img-fluid(src='assets/customer (1).jpg', alt='Customer Logo 25')

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
