doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Bogdan Veremienko')
        title Вакансії
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='icon', type='image/png', href='assets/logo.png')
        include includes/css.pug
    body.d-flex.flex-column.h-100
        main.flex-shrink-0
            include includes/navbar.pug
            section.py-5
                .container.px-5
                    h1.fw-bolder.fs-1.mb-5 Вакансії
                    .accordion#vacanciesAccordion
                        // Вакансія 1
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse0', aria-expanded='false', aria-controls='collapse0')
                                    | Інженер з підготовки виробництва
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse0', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li Підготовка технічної документації для виробництва продукції.
                                        li Розробка та видача графіків порізки матеріалів в заготівельному виробництві відповідно технологічних процесів механічної обробки
                                        li Координація з відділами виробництва та конструкторським відділом.
                                        li Контроль якості виробництва та вирішення технічних питань
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Вища технічна освіта
                                        li Досвід роботи на аналогічній посаді від 2 років
                                        li Вміння працювати з технічною документацією.
                                        li Висока відповідальність, уважність до деталей
                                        li Комунікабельність та вміння працювати у команді
                                        li Досвід роботи в планово-диспетчерському відділі або майстром на виробництві (механічна обробка металів).
                                        li Володіння програмами Microsoft Office
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li Графік роботи ПН-ПТ;
                                        li З 8.00 — 16.45;
                                        li Офіційне працевлаштування;
                                        li Оплата лікарняних;
                                        li Відпустка 24 календарних днів.
                        // Вакансія 2
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse1', aria-expanded='false', aria-controls='collapse1')
                                    | Інженер-конструктор
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse1', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Розробка та оформлення технічної документації (креслень, моделей деталей та текстової конструкторської документації)
                                        li Знання основ конструювання, вимог ЄСКД щодо оформлення конструкторської документації, Державних стандартів України (ДСТУ), ведення одного з напрямків (проєктування запобіжної, регулюючої або електромагнітної трубопровідної арматури)
                                        li ведення циклу виготовлення від креслення до готового виробу
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li досвідчений користувач ПК (знання MS Office, Adobe Acrobat, систем автоматизованого проектування (бажано РТС Creo Design);
                                        li готові взяти здобувача без досвіду роботи
                                        li бажано знання англійської мови
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт.
                                        li З 8-00 до 16-45;
                                        li можливість кар'єрного росту
                                        li оплата лікарняних
                        // Вакансія 3
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse2', aria-expanded='false', aria-controls='collapse2')
                                    | Контролер ВТК (машинобудування)
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse2', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Досвід роботи в сфері якості в машинобудуванні від 1 року
                                        li Вища технічна освіта (бажано)
                                        li Вміння аналізувати дані, виявляти причини відхилень в якості
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li Контролювати розмір деталей та складальних одиниць на відповідність конструкторській документації
                                        li Контролювати правильність оформлення конструкторської документації.
                                        li Перевіряти комплектність супровідної документації
                                        li Контролювати правильність оформлення протоколів та висновків
                                        li Контролювати комплектацію та пакування готових виробів, контроль маркування тари
                                        li Працювати з технологічними процесами, кресленнями та діаграмами
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт.
                                        li З 8-00 до 16-45;
                                        li Бронювання військовозобов'язаних;
                                        li оплата лікарняних
                        // Вакансія 4
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse3', aria-expanded='false', aria-controls='collapse3')
                                    | Токар універсальні верстати (1К62, 16К20, dip 300)
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse3', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Знання теорії різання та різального інструменту, режимів різання матеріалу (зокрема — нержавіюча сталь)
                                        li Знання будови та принципів роботи універсальних токарних верстатів
                                        li Вміння читати креслення
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li Підбір різального інструменту, читання креслень, контрольно-вимірювальні операції та інше
                                        li Згідно з робочою інструкцією відповідного кваліфікаційного розряду
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт.
                                        li З 7-30 до 16-00;
                                        li Додатково оплачуються понаднормові години та вихідні дні
                                        li Бронювання військовозобов'язаних;
                                        li оплата лікарняних
                        // Вакансія 5
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                                    | Налагоджика токарних верстатів з ЧПК
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse4', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li освіта: середньо-технічна, вища;
                                        li знання систем допусків та посадок;
                                        li знання властивостей та механічних характеристик матеріалів
                                        li знання теорії різання та ріжучого інструменту, режимів різання матеріалу;
                                        li вміння обслуговувати верстати з ЧПУ;
                                        li вміння розбиратися в коді управляючої програми (робота зі змінними та циклами)
                                        li знання будови та принципів роботи основних типів верстатів з ЧПУ та контрольно-вимірювальних інструментів
                                        li знання основних типів стойок: Fanuc, Siemens, Okuma, HAAS
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li установка, знімання заготовки;
                                        li налагоджування верстату, корегування управляючих програм та переналадка верстату на нові деталі;
                                        li підбір ріжучого інструменту та інших елементів верстату;
                                        li контроль правильної роботи верстату, ріжучого інструменту;
                                        li контрольно-вимірювальні операції;
                                        li контроль якості СОЖ
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт.
                                        li спецодяг;
                                        li оплата лікарняних
                        // Вакансія 6
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse5', aria-expanded='false', aria-controls='collapse5')
                                    | Інженер з якості
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse5', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li Контролювати розміри деталей та складальних одиниць на відповідність КД;
                                        li Контролювати правильність оформлення супровідної документації;
                                        li Перевіряти комплектність супроводжувальної документації;
                                        li Контролювати оформлення протоколів та висновків;
                                        li Пред'являти продукцію УО, оформлювати Повідомлення про нагляд, закриття контрольних точок в планах якості;
                                        li Контролювати випробування продукції на відповідність КД та ТУ;
                                        li Контролювати комплектацію та пакування готових виробів, супроводжувальної документації, контроль маркування тари.
                                    p.mb-2.fw-bold Знання:
                                    ul.mb-3.ps-4
                                        li технологічних процесів та режимів виробництва;
                                        li чинних стандартів, норм, правил, технічних умов;
                                        li вимоги до технічної документації, матеріалам, напівфабрикатам та комплектуючих виробів;
                                        li методи технічного контролю.
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт.
                                        li спецодяг;
                                        li оплата лікарняних.
                        // Вакансія 7
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                                    | Інженер-конструктор
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse6', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Вища технічна освіта,
                                        li знання CAD — програм, переважно Creo (ProEngineer) або Компас-3D, MS Office — обов'язково,
                                        li готові взяти здобувача без досвіду роботи
                                        li бажано знання англійської мови.
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.mb-3.ps-4
                                        li Графік роботи: ПН-ПТ, 8-ми годинний робочий день,
                                        li оплата лікарняних,
                                        li відпустка 24 календарних дні,
                                        li соціальні програми,
                                        li спеціалізовані тренінги та навчання.
                                    p.mb-2.fw-bold Обов'язки:
                                    ul.mb-3.ps-4
                                        li Розробка та оформлення технічної документації (креслень, моделей деталей та текстової КД),
                                        li знання ЕСКД, ДСТУ та основ конструювання, ведення одного з напрямків (проєктування електромагнітної трубопровідної арматури, запобіжної, регулюючої),
                                        li ведення циклу виготовлення від креслення до готового виробу.
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.ps-4
                                        li офіційне працевлаштування;
                                        li офіційна зарплата;
                                        li графік роботи: пн.- пт. 8.00-16.45
                        // Вакансія 8
                        .accordion-item.mb-2.shadow-sm.border-0
                            h2.accordion-header
                                button.accordion-button.collapsed.d-flex.justify-content-between.align-items-center.fw-bold.fs-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapse7', aria-expanded='false', aria-controls='collapse7')
                                    | Інженер-технолог
                                    span.ms-auto.accordion-icon
                            .accordion-collapse.collapse(id='collapse7', data-bs-parent='#vacanciesAccordion')
                                .accordion-body.bg-light
                                    p.mb-2.fw-bold Вимоги:
                                    ul.mb-3.ps-4
                                        li Вища освіта бакалавр, спеціаліст, магістр;
                                        li Досвід в розробці та оформлені технічної документації від 2-х років;
                                    p.mb-2.fw-bold Задачі:
                                    ul.mb-3.ps-4
                                        li Розробка технологічних процесів, операційних ескізів;
                                        li Розробка технічних завдань напроєктування спеціального оснащення, інструменту та пристосувань;
                                        li Внесення змін в технологічну документацію;
                                        li технологічний супровід виготовлення деталей, виробів;
                                        li Знання програм: Компас, SolidWorks;
                                        li Впевнене орієнтування в конструкторській документації креслення, специфікації.
                                    p.mb-2.fw-bold Умови роботи:
                                    ul.mb-3.ps-4
                                        li Графік роботи ПН-ПТ;
                                        li З 8.00 — 16.45;
                                        li Офіційне працевлаштування;
                                        li Оплата лікарняних;
                                        li Відпустка 24 календарних днів.
            style.
                .accordion-button {
                    background: #fff;
                    transition: box-shadow 0.2s;
                }
                .accordion-button:not(.collapsed) {
                    color: #0d1a4a;
                    background: #f8f9fa;
                    box-shadow: 0 4px 24px rgba(13,26,74,0.07);
                }
                .accordion-icon {
                    transition: transform 0.3s;
                }
                .accordion-button:not(.collapsed) .accordion-icon {
                    transform: rotate(45deg);
                }
                .accordion-item {
                    border-radius: 12px;
                    overflow: hidden;
                }
                .accordion-body {
                    border-top: 1px solid #e9ecef;
                }
        include includes/footer.pug
        include includes/scripts.pug 